/* Universal website features */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    outline: none;
}

body {
    overflow: hidden;
    margin: 0;
}

.sideSpacer {
    width: 260px;
}  

table {
    margin: 0;
    text-align: left;
} 

p {
  font-family: 'Open Sans';
  font-weight: 300;
}

/* Button ripple effect */

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
}    

/* Navigation */

.verticallyCentered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navItem {
  background-color: transparent;
  font-size: 20pt;
  font-family: 'Open Sans';
  font-weight: 600;
  color: white;
  border: none;
}

#nav {
  display: none;
  position: absolute;
  width: 200px;
  height: 100vh;
  background-color: #335EBB;
  box-shadow: 4px 0px 8px 1px #303030;
  -webkit-box-shadow: 4px 0px 8px 1px #303030;
  padding: 20px;
}

.comeOut {
    animation-name: come-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes come-out {
    from {
        transform: translateX(calc(-100vh));
    }
    to {
        transform: translateX(0);
    }
}

/* Start Page */

#startPage {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#alignStart {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 100vh;
    background-image: url("nths.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#verticalAlign {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;
    user-select: none;
    margin: 0;
    text-shadow: 2px 2px 8px #000000;
    white-space: pre-wrap;
}

#startButton {
    border-radius: 50px;
    padding: 20px;
    font-size: 14px;
    background-color: rgb(51, 94, 187);
    color: white;
    border: none;
    font-family: 'Open Sans';
    font-weight: 300;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* About Page */

#about {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.abouth1 {
  color: black;
  text-shadow: none;
}

.aboutp {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.commentAboutp { 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px; 
}

.socials {
  font-size: 25pt;
  border: none;
  background-color: transparent;
}

.socialsWithSpacer {
  margin-left: 15px;
  font-size: 25pt;
  border: none;
  background-color: transparent;
}

.featuredDevs {
  height: 250px;
  background-color: #38B6FF;
}

.title {
  font-weight: 700;
  margin: 0px 0px 0px 20px;
  font-size: 36pt;
  line-height: 50px;
}

/* Panorama Page */

#panoramaPage {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#panorama {
    float: right;
}    

#schoolMap {
    width: 100px;
    height: 50px;
    background-color: #f4f4f4;
    position: absolute;
    z-index: 1;
}

/* Information Page */

#information {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.spacer {
  height: 20px;
}

#chips {
  margin: 15px;
}

tr {
  vertical-align: top;
}

th {
  overflow: hidden;
}

.chip {
  display: inline-block;
  margin: 2.5px;
  padding: 0 20px;
  height: 40px;
  font-size: 16px;
  line-height: 8px;
  border-radius: 25px;
  background-color: #38B6FF;
  border: none;
}

#featuredContent {
  margin: 0px 15px 0px 15px;
  height: 452px;
  background-color: #38B6FF;
  line-height: 50px;
}

.sideArticle {
  background-repeat: no-repeat;
  background-size: 270px auto;
  margin: 0px 15px 20px 0px;
  padding: 0px 5px 0px 5px;
  width: 250px;
  background-color: black;
  transition: height 1s;
}

.sideArticle p {
  color: white;
  font-size: 18pt;
  font-weight: 400;
  line-height: 18pt;
}

.fa-play-circle, .fa-external-link-square {
  color: white;
}

.playButton {
  background-color: transparent;
  font-size: 50pt;
  border: none;
  border-radius: 50px;
}

.linkButton {
  background-color: transparent;
  font-size: 50pt;
  border: none;
  border-radius: 50px;
}

.topSpace {
    top: 7px;
}

.textVerticallyCentered {
  top: 50%;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.textVerticallyCentered2Lines {
  top: 50%;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.textVerticallyCentered3Lines {
  margin: 10px 0px 10px 0px;
  top: 50%;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.contentTitle {
  margin: 0px 0px 0px 4px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.7s ease-in-out, visiblity 0.7s ease-in-out;
  z-index: 5;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal.hide {
  opacity: 0;
  visibility: visible;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333333;
  background: #ffffff;
  text-align: center;
}

.modal-inner {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.modal-close {
  font-size: 24pt;
  right: -17px;
  top: -17px;
  border-radius: 50%;
  padding: 0px 7px;
  border: none;
  position: absolute;
  background: #333333;
  color: #ffffff;
}

#infoTitle {
  font-weight: 700;
  margin-left: 20px;
  position: absolute;
  top: 360px;
  font-size: 36pt;
  line-height: 50px;
}

/* Images */

#featuredImage {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://static-content-hosting-de818.firebaseapp.com/School-View/harrison.jpg');
}

#studentLeaders {
  background-position: top center;
  background-image: url('https://static-content-hosting-de818.firebaseapp.com/School-View/dark-oscar.png');
}

#mathematics {
  background-position: center;
  background-image: url('https://static-content-hosting-de818.firebaseapp.com/School-View/maths-dark.jpg');
}

#blendedLearning {
  background-position: center;
  background-image: url('https://static-content-hosting-de818.firebaseapp.com/School-View/blended-learning-dark.jpg');
}

#mrHarrison {
  background-position: center 40%;
  background-image: url('https://static-content-hosting-de818.firebaseapp.com/School-View/dark-harrison.jpg');
}

#sport {
  background-position: center;
  background-image: url('https://static-content-hosting-de818.firebaseapp.com/School-View/dark-sport.jpg');
}

/* Animations */

.comeUpFromMiddle {
    animation-name: come-up-from-middle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes come-up-from-middle {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100vh));
    }
}

.goDownFromTop {
    animation-name: go-down-from-top;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes go-down-from-top {
    from {
        transform: translateY(calc(-100vh));
    }
    to {
        transform: translateY(0);
    }
}

.comeUpFromBottom {
    animation-name: come-up-from-bottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes come-up-from-bottom {
    from {
        transform: translateY(calc(100vh));
    }
    to {
        transform: translateY(0);
    }
}

.goDownFromMiddle {
    animation-name: go-down-from-middle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes go-down-from-middle {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(100vh));
    }
}

/* Adaptive UI */

@media (max-width: 599px) {
    h1 {
        font-size: 40px;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    h1 {
        font-size: calc(40px + (100vw - 600px) / 600 * 40);
    }
}

@media (min-width: 1201px) {
    h1 {
        font-size: 80px;
    }
}
